<section class="home">
    <div>
        <p class="homepadding">blabla</p>
        <a href="#bonbonDex"><button type="button" class="cl0 text-center f_quando hov-cl1 m-r-10 btn btn-warning bottomcenter">Voir mon BonbonDex</button></a>
    </div>
</section>
